$link: #808080;
$link-hover: #C0C0C0;
$spree-override-text: #999;
$spree-override-button: #000000;


span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong, #checkout-summary table #summary-order-total, #order_details td.price span, #order_details td.total span, #order_summary td.price span, #order_summary td.total span, table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.order-total {
  color: $spree-override-text;
}

input[type="submit"], input[type="button"], input[type="reset"], button, a.button {
  background-color: $spree-override-button;
  background-image: none;
  text-shadow: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid rgba(0, 138, 189, 0.75);
  padding: 6px 10px 5px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -khtml-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

a{
  color: $link;
  &:hover{
    color: $link-hover;
    text-decoration: none;
  }
}

::selection {
  background: $link;
  color: white;
  text-shadow: none;
}

#content{
  min-height: 0px;
}

/* HEADER */
#logo-holder{
  overflow: auto;
  width: 100%;
  margin:0 auto;
  float:none;
  #logo{
  }
}
  /* Nav Bar*/

  nav div#category-nav{
    li.current{
      font-weight: bold;
    }
  }

  nav #main-nav-bar{
    font-size: 0.5em;
    float: right;
    margin-top: 0px !important;
    border: 0 !important;
    font-weight: normal;
    text-transform: none;
  }


  nav #main-nav-bar {
    li {
      border-right: 1px solid gray;
      line-height: normal;
    }

    li:last-child{
      border: none;
    }

    li#link-to-cart {
      float: none;

      &:hover{
        border-color: $link !important;
        .amount{
          border-color: $link !important;
        }
      }

      a{
        color: $link;
        &:hover{
          color: $link-hover;
          text-decoration: none;
          border-color: $link;
          .amount{
            border-color: $link !important;
          }
        }

        .amount{
          border-left: 0px solid $link;
          font-weight: normal;
          font-size: inherit;
          padding-left: 0px;
          padding-bottom: 0px;
          font-style: italic;
          &:hover{
            border-left: 0px solid $link;
          }
        }
      }
    }
  }

  #category-nav{
    ul{
      list-style: none;
      float: left;
      li{
        float: left;
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid $link;
        &:last-child{
          border: none;
        }
        a{
          text-transform: uppercase;
        }
      }
    }
  }

/* NOTICE */
.flash{
  margin-bottom: 0px;
}

/* FOOTER */

footer#footer{
  border: none;
}

#footer-pages{
  float: right;
  ul{
    margin: 0;
    li{
      list-style: none;
      float: left;
      a{
        text-transform: lowercase;
      }
    }
  }
}



/* HOMEPAGE */


  /* SLIDER */
  #slider{
    min-height: 600px;
    position: relative;
  }


/* PRODUCTS */

ul#products{
  li{

  }

  li.alpha{
    margin-left: 0px;
  }

  li.beta{

  }

  li.gamma{

  }

  li{
    position: relative;
    overflow: hidden;
    margin-right: 3px;

    .product-image{
      border: 0px !important;

      img{
       height: 420px; 
      }
    }

    .product-name-price{
      position: absolute;
      top: 400px;
      width: 314px;
      height: 20px;
    }

    a.info{
      border: 0px !important;
      float: left;
      margin-top: 0px;
      font-size: 12px;
      color: #000;
      overflow: hidden;
    }

    .price{
      color: #000;
      font-size: 11px;
      float: right;
      padding-top: 0px;
      margin-left: 10px;
    }

  }
}



/* PRODUCT */
#product-show{
  padding-top: 15px;

  #product-images{
    #main-image {
      text-align: center;
      border: 0px;
      background-color: white;
    }
  }
}