<nav class="row-fluid">
  <% if defined? get_taxonomies %>
    <div id="category-nav">
      <% get_taxonomies.each do |taxonomy| %>
        <%= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>
      <% end %>
    </div>
  <% end %>

  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="link-to-cart" data-hook><%= link_to_cart %></li>
  </ul>
</nav>
